body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 1s; /* Firefox < 16 */
	-ms-animation: fadein 1s; /* Internet Explorer */
	-o-animation: fadein 1s; /* Opera < 12.1 */
	animation: fadein 1s;
	font-family: "EB Garamond", sans-serif;
	background-color: #faf9f6;
	/*background-color: #fffafa;*/
	width: 45em;
	margin: auto;
	color: #606060;
	line-height: 2;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* Firefox < 16 */
@-moz-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* Internet Explorer */
@-ms-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* Opera < 12.1 */
@-o-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

h1 {
	font-family: "EB Garamond";
	font-size: 3em;
	color: #333333;
	margin: 0;
}

a {
	text-decoration: none;
	font-weight: bold;
	color: #a52344;
}

p {
	font-size: 1.3em;
}

li {
	font-size: 1.3em;
	margin-bottom: 1em;
	vertical-align: bottom;
	line-height: 2;
}

video {
	max-height: 50em;
}

.social {
	margin-right: 5em;
}

.header {
	color: #333333;
	margin: 1em auto;
	font-size: 2em;
}

.nav {
	font-size: 1.3em;
	text-decoration: underline;
	margin-left: 1em;
	margin-right: 1em;
}

.nav:hover {
	text-decoration: none;
	margin-left: 1em;
	-webkit-transition: background-color 0.5s;
}

.tag {
	font-size: 0.9em;
	font-family: "Courier Prime";
	padding: 0.2em;
	border-radius: 0.4em;
	border: 1.2em 1.2em;
	border: dashed rgba(236, 240, 241, 1);
	background-color: rgba(236, 240, 241, 0.1);
}

.tag:hover {
	border: solid rgba(236, 240, 241, 1);
	background-color: rgba(236, 240, 241, 1);
	-webkit-transition: background-color 0.5s;
}

.underliner {
	text-decoration: underline;
}

.nameanimated .hindi {
	display: none;
}

.nameanimated:hover .english {
	display: none;
	-webkit-animation: fadein 0.5s;
	animation: fadein 0.5s;
}

.nameanimated:hover .hindi {
	display: inline;
	-webkit-animation: fadein 0.5s;
	animation: fadein 0.5s;
}

#pre {
	text-align: center;
	margin-bottom: 2.5em;
}

#pic {
	margin-left: auto;
	margin-right: auto;
	display: block;
	max-width: 45em;
	-webkit-box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#footer {
	text-align: center;
}

#footerText {
	margin-top: 8em;
	margin-bottom: 8em;
}
