body {
    background-color: #ffffff;
    font-family: "Roboto", Arial, serif;
    line-height: 1.8;
    font-size: 15px;
    color: #898989;
    -ms-overflow-style: scrollbar;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

h1 a,
.h1 a,
h2 a,
.h2 a,
h3 a,
.h3 a,
h4 a,
.h4 a,
h5 a,
.h5 a,
h6 a,
.h6 a {
    color: #222222;
}

p,
ul,
ol,
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
blockquote {
    margin: 0 0 20px;
}

h1,
h2,
h3 {
    font-family: "Helvetica Neue", Helvetica, serif;
    line-height: 1.4;
    font-weight: 400;
    color: #222222;
}

h4,
h5,
h6 {
    font-family: "Helvetica Neue", Helvetica, serif;
    line-height: 1.4;
    font-weight: 400;
    color: #222222;
}

h1,
.h1 {
    font-size: 36px;
}

h2,
.h2 {
    font-size: 28px;
}

h3,
.h3 {
    font-size: 24px;
}

h4,
.h4 {
    font-size: 20px;
}

h5,
.h5 {
    font-size: 18px;
}

h6,
.h6 {
    font-size: 17px;
}

.split-image {
    display: none;
    background-position: 50% 0;
    background-color: #222222;
}

.split-content {
    padding: 100px 40px 0;
    padding: 70px 40px 0;
    min-width:1009px;
}

@media (min-width: 900px) {
    .split-image {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        background-size: cover;
        display: block;
        background-position: 50% 0;
    }

    .split-image,
    .split-content {
        width: 30%;
    }

    .split-content {
        float: right;
    }
}

.split-image-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 25px 50px;
}

.split-list {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 10px;
    color: #fff;
    list-style: none;
    padding: 0;
    margin: 0;
}