/*! -----------------------------------------------------------------
[Master Stylesheet]

Project:     Node
Version:     1.0.3
Last change:
Primary use: Resume template

------------------------------------------------------------------
[General Styles]
*/

body {
    background-color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, serif;
    line-height: 1.8;
    font-size: 15px;
    color: #898989;
    -ms-overflow-style: scrollbar;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

iframe {
    border: 0;
}

.disable-hover {
    pointer-events: none;
}

::-moz-selection {
    background: #ba9d49;
    color: #fff !important;
}

::-webkit-selection {
    background: #ba9d49;
    color: #fff !important;
}

::selection {
    background: #ba9d49;
    color: #fff !important;
}

.wrapper {
    position: relative;
}

.service-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.project-titles {
    font-weight:bold;
    
}

.service-list > li {
    margin: 20px 0;
}

/*------------------------------------------------------------------
[Typography]
*/

a {
    color: #ba9d49;
    -webkit-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
}

a:hover,
a:focus {
    outline: 0;
    text-decoration: none;
    color: #977f39;
}

h1 a,
.h1 a,
h2 a,
.h2 a,
h3 a,
.h3 a,
h4 a,
.h4 a,
h5 a,
.h5 a,
h6 a,
.h6 a {
    color: #222222;
}

p,
ul,
ol,
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
blockquote {
    margin: 0 0 20px;
}

h1,
h2,
h3 {
    font-family: "Helvetica Neue", Helvetica, serif;
    line-height: 1.4;
    font-weight: 400;
    color: #222222;
}

h4,
h5,
h6 {
    font-family: "Helvetica Neue", Helvetica, serif;
    line-height: 1.4;
    font-weight: 400;
    color: #222222;
}

h1,
.h1 {
    font-size: 36px;
}

h2,
.h2 {
    font-size: 28px;
}

h3,
.h3 {
    font-size: 24px;
}

h4,
.h4 {
    font-size: 20px;
}

h5,
.h5 {
    font-size: 18px;
}

h6,
.h6 {
    font-size: 17px;
}

ul,
ol {
    padding-left: 0;
    list-style: none;
}

ul > li,
ol > li {
    margin: 0 0 5px;
}

/*------------------------------------------------------------------
[Modules]
*/

.container-custom {
    max-width: 768px;
}

.module {
    background-color: #ffffff;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 50px 0;
}

.parallax {
    background-color: transparent;
}

/*------------------------------------------------------------------
[Pages]
*/

.split-image {
    display: none;
    background-position: 50% 0;
    background-color: #222222;
}

.split-content {
    padding: 100px 40px 0;
    padding: 70px 40px 0;
    min-width:1009px;
}

@media (min-width: 900px) {
    .split-image {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        background-size: cover;
        display: block;
        background-position: 50% 0;
    }

    .split-image,
    .split-content {
        width: 30%;
    }

    .split-content {
        float: right;
    }
}

.split-image-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 25px 50px;
}

.split-list {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 10px;
    color: #fff;
    list-style: none;
    padding: 0;
    margin: 0;
}

.split-list > li {
    display: inline-block;
    margin: 0 0 0 30px;
}

.split-list > li > a {
    color: #fff;
}

.split-list > li > a:hover,
.split-list > li > a:focus {
    color: #ba9d49;
}